.home-img {
  border-radius: 15px;
  height: 70vh;
  width: 60vw;
}
.where-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.venue {
  color: crimson;
}
.add {
  color: purple;
  font-size: 25px;
}
.number {
  align-self: flex-start;
  color: magenta;
}
